/* Variables */
:root {
    --background-color: #f5f5f4;
    --text-color: #333;
    --window-border-radius: 6px;
    --font-size: 14px;
}

/* The arrow at the top of the window */
.header-arrow {
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -5px;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    background-color: #e8e6e8;
}

.window {
    position: absolute;

}

.toolbar {
    box-shadow: none;
}

.window .toolbar-header {
    border-top-left-radius: var(--window-border-radius);
    border-top-right-radius: var(--window-border-radius);
    -webkit-app-region: drag;
}

.content {
    background-color: var(--background-color);
    flex-direction: column;

}


.footer-link {
    padding-top: 8px;
    padding-left: 10px;
    font-size: calc(var(--font-size) - 4px);
    float: left;
    cursor: pointer;
    -webkit-app-region: no-drag;

}

.tab-content {
    flex: 1;

}

.tab-content form {
    padding: 20px;

}

.tab-item {
    cursor: pointer;
}

.footer-link div {

    cursor: pointer;

}

.footer-link a {
    color: var(--text-color);
    cursor: pointer;
    text-decoration: underline;
}

.ferrum-form-group {
    margin: 0px;
    line-height: 1;
}

.ferrum-form-group label {
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.ferrum-error {
    color: #c52424;

}

.ferrum-display-none {
    display: none;

}


.ferrum-status-network-list {
    font-size: 16px;
    padding: 10px;
}

.ferrum-status-network-item {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}

.ferrum-status-network-item-name {

    flex-grow: 1;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.ferrum-status-network-item-status {

    padding-left: 10px;
    padding-right: 10px;
}



.ferrum-status-network-list .ok {
    background-color: #c5dfc5
}

.ferrum-status-network-list .failed {
    background-color: #f9afaf;
}

.ferrum-status-network-list .skipped {
    background-color: #f9f0af;
}

.ferrum-hide {
    display: none;
}